body{
  background-color: rgb(34, 33, 33);
  color: rgb(255, 255, 255);
}


.hero{
  height: 24vh;
  width: 90vw;
  text-align: center;
  margin-bottom: 5vh;
}
.hero h1{
  margin-top: 25vh;
  color: grey;
}
video{
  width: 100vw;
  height: 20vh;
  object-fit: cover;
  position: absolute;
  margin-left: -6.5vw;
  z-index: -100;
  display: block;
  margin-top: -35vh;
}
.search-movie{
  position: absolute;
  margin-top: 33vh;
  background-color: rgb(214, 210, 210);
}

.movies-list img{
  object-fit: cover;
  height: 20rem;
  width: 15rem;
  align-self: center;
}
.movie-card{
  width: 15rem;
  margin: 1rem;
}
.container{
  max-width: 90vw;
}
.row{
  width: 93vw;
}

.error{
  margin-top: 20vh; 
  flex-direction: column;
  justify-content: center;
}

.detail{
  margin: 20vh 10vw;
  /* display: flex; */
}

.detail img{
  width: 30vw;
  height: 60vh;
  object-fit: cover;
  margin-right: 3vw;
}
.detail p{
  text-align: justify;
}
.detail-links{
  display: flex;
  width: 10vw;
  margin-bottom: 2vh;
  text-align: center;
}

.nav-links{
  color: inherit;
  margin-right: 2vw;
}

.nav-links:hover{
  color: inherit;
  text-decoration: none;
}

.title{
  color: yellow;
  font-size: 3rem;
}

.add-button{
  margin-top: 1.5vh;
  font-size: 1.6rem;
}
.modal-add{
  color: black;
}





@media (max-width: 600px) {
  .movies-list img{
    object-fit: cover;
    height: 10rem;
    width: 9.5rem;
    align-self: center;
  }
  .movie-card{
    width: 9.6rem;
    margin: 0.3rem;
  }
  .hero{
    height: 30vh;
    width: 90vw;
    text-align: center;
    margin-bottom: 14vh;
  }
  .hero h1{
    margin-top: 13vh;
    position: absolute;
    /* z-index: 300; */
  }
  video{
    width: 100vw;
    height: 20vh;
    object-fit: cover;
    position: absolute;
    margin-left: -8.5vw;
    z-index: -100;
    display: block;
    margin-top: 8vh;
  }
  .search-movie{
    margin-top: 37vh;
  }
  .detail img{
    width: 80vw;
    height: 60vh;
  }

}

@media (min-width: 1281px) {
  .hero{
    
    margin-bottom: 15vh;
  }
  .detail{
    display: flex;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  video{
    height: 30vh;
  }
 
  .detail{
    display: flex;
  }
  
  .search-movie{
    margin-top: 23vh;
  }

}



@media (min-width: 768px) and (max-width: 1024px){
  
  .hero{
    height: 14vh;
    margin-bottom: 9vh;
  }
  video{
    height: 49vh;
  }
  .hero h1{
    margin-top: 17vh;
  }
  .search-movie{
    margin-top: 18vh;
  }
  .detail{
    margin-top: 10vh;
  }
  .detail img{
    width: 50vw;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
   .detail{
     margin-top: 14vh;
   }
   .detail-links{
    width: 20vw;
   }
   .title{
     font-size: 1.5rem;
   }
}